/* Media Queries
@media only screen and (min_width: 200px) {} */

/* Website Responsive âŒ */

* {
  display: 100vh;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

nav {
  display: flex;
  width: 100%;
}

.logo {
  width: 50%;
}

.nav-logo {
  width: 200px;
}

.navbar-link {
  width: 50%;
  text-align: end;
}

.navbtn {
  text-transform: uppercase;
  margin: 18px 4px 1px 4px;
  border: none;
}

.navbtn:hover {
  color: white;
  border: 1px solid orangered;
  background-color: orangered;
  border-width: 5px;
}

.body-container {
  display: flex;
  width: 100%;
}

.text-container {
  width: 45%;
  max-width: 400px;
  margin: auto;
  height: 500px;
  font-size: 30px;
  margin-top: 300px;
  margin-left: 50px;
}

.description {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.568);
}

.side-container {
  width: 55%;
  margin-left: 4%;
}

.tab {
  border: 10px solid black;
  border-radius: 3ch;
  align-items: flex-end;
  width: 65%;
  height: 500px;
  margin-top: 200px;
  margin-left: 100px;
  margin-right: 0px;
}

.second-body {
  margin-top: 50px;
}
.another-text {
  margin-top: 100px;
  text-align: center;
  font-size: 25px;
}

.f-text {
  max-width: 600px;
  margin: 0 auto;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.568);
}

.sec-nav {
  background-color: #5266df;
  height: 20%;
}

.nav-container {
  display: flex;
  width: 100%;
}

.left-nav {
  width: 50%;
}

.right-nav {
  width: 50%;
}

.side-body {
  display: flex;
  width: 100%;
}

.left-side-body {
  width: 55%;
  border: 180px solid white;
  margin-left: 30px;
  margin-top: 20px;
}

.right-side-body {
  width: 2%;
  border: 100px solid white;
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

footer {
  border: 10px solid rgb(2, 2, 77);
  width: 100%;
  display: flex;
  /* margin-top: 25px; */
}

.left-footer {
  width: 50%;
  display: flex;
  background-color: rgb(2, 2, 77);
}

.right-footer {
  width: 50%;
  display: flex;
  background-color: rgb(2, 2, 77);
}

.footer-logo {
  width: 25%;
  background-color: rgb(2, 2, 77);
}

.footer-logo h3 {
  display: inline;
  margin-left: 20px;
  padding: 0;
  background-color: rgb(2, 2, 77);
  color: white;
  text-transform: uppercase;
}

.footer-btn {
  width: 25%;
  display: flex;
}

.footbtn {
  text-transform: uppercase;
  margin: 0px;
  border: none;
  background-color: rgb(2, 2, 77);
  color: white;
}

.photo-one {
  width: 25%;
  background-color: rgb(2, 2, 77);
}

.photo-two {
  width: 25%;
  background-color: rgb(2, 2, 77);
}

.icon-one {
  background-color: rgb(2, 2, 77);
  height: 20px;
  width: 20px;
  margin-left: 840px;
}

.icon-two {
  background-color: rgb(2, 2, 77);
  height: 20px;
  width: 20px;
  margin-left: 650px;
}

.before-footer {
  border: 20px solid rgb(80, 18, 250);
  background-color: rgb(80, 18, 250);
  margin-top: 100px;
  height: 200px;
}

.end-text-begin {
  background-color: rgb(80, 18, 250);
  color: white;
  font-size: x-small;
  text-transform: uppercase;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.end-text-end {
  background-color: rgb(80, 18, 250);
  color: white;
  font-size: medium;
  text-align: center;
  max-width: 190px;
  margin: 0 auto;
}

.input-field {
  display: flex;
  margin-left: 819px;
  margin-top: 13px;
  margin-bottom: 60px;
  background-color: rgb(80, 18, 250);
}
.email-box {
  height: 40px;
  border-radius: var(--size-radius);
}

.submit {
  margin-left: 20px;
  width: 100px;
  border-radius: var(--size-radius);
  color: white;
  background-color: orangered;
}

.forth-body {
  display: flex;
  width: 100%;
}

.tab-div-four {
  width: 60%;
}
.tab-four {
  width: 50%;
  border: 10px solid black;
  border-radius: 3ch;
  align-items: flex-end;

  height: 300px;
  margin-top: 200px;
  margin-left: 100px;
  margin-right: 0px;
}

.fourth-text {
  width: 40%;
}

.fourth-nav {
  background-color: #242945;
  height: 20%;
}

.fourth-left-nav {
  width: 50%;
}

.fourth-right-nav {
  width: 50%;
}

.fourth-left-side-body {
  width: 55%;
  border: 162px solid white;
  margin-left: 30px;
  margin-top: 60px;
  height: 20px;
}

.fourth-right-side-body {
  width: 2%;
  border: 70px solid white;
  margin-top: 60px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.fourth-body {
  display: flex;
  margin-bottom: 250px;
}

.fourth-right-body {
  margin-top: 320px;
}

.fourth-description {
  max-width: 350px;
  margin: 0 auto;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.568);
}

.btn {
  margin-top: 30px;
  margin-left: 02px;
  height: 40px;
  width: 100px;
  border-radius: var(--size-radius);
  color: white;
  background-color: #5267e2;
}

.chrome-btn {
  font-size: xx-small;
  margin-top: 30px;
  margin-left: 02px;
  height: 40px;
  width: 100px;
  border-radius: var(--size-radius);
  color: white;
  background-color: #5267e2;
}

.firefox-btn {
  font-size: xx-small;
  margin-top: 30px;
  margin-left: 02px;
  height: 40px;
  width: 100px;
  border-radius: var(--size-radius);
  color: black;
  background-color: #f2f3fd;
}

.fifth-heading {
  text-align: center;
  margin-top: 70px;
}

.fifth-text {
  max-width: 400px;
  margin: 0 auto;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.568);
}

.sixth-body {
  display: flex;
  margin-top: 40px;
  width: 100%;
}

.chrome {
  width: 20%;
  border: 10px outset;
  height: 500px;
  margin-left: 300px;
  margin-top: 0px;
  margin-right: 10px;
}

.firefox {
  width: 20%;
  border: 10px outset;
  height: 500px;
  margin-top: 35px;
  margin-right: 30px;
}

.opera {
  width: 20%;
  border: 10px outset;
  height: 500px;
  margin-top: 65px;
  margin-right: 100px;
}

.chrome-icon {
  height: 100px;
  margin-top: 120px;
  margin-left: 120px;
}

.firefox-icon {
  height: 100px;
  margin-top: 120px;
  margin-left: 120px;
}

.opera-icon {
  height: 100px;
  margin-top: 120px;
  margin-left: 120px;
}

.description {
  display: flex;
  flex-direction: column;
}

.des-text {
  margin-left: 90px;
}

.des-text > h3 {
  color: black;
}

.chrome-extension {
  margin-top: 60px;
  margin-left: 60px;
}

.ext-btn {
  height: 40px;
  width: 200px;
  border-radius: var(--size-radius);
  color: white;
  background-color: #5267e2;
}

.firefox-ext-btn {
  margin-top: 30px;
  height: 40px;
  width: 200px;
  border-radius: var(--size-radius);
  color: white;
  background-color: #5267e2;
}

.opera-ext-btn {
  margin-top: 30px;
  height: 40px;
  width: 200px;
  border-radius: var(--size-radius);
  color: white;
  background-color: #5267e2;
}

.seventh-btn {
  margin-top: 30px;
  margin-left: 900px;
  height: 40px;
  width: 100px;
  border-radius: var(--size-radius);
  color: white;
  background-color: #5267e2;
}

.questions {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.ques-before {
  border-bottom: 1px solid #ccc;
  display: block;
  display: flex;
}

.ques-one {
  border-bottom: 1px solid #ccc;
  display: block;
  display: flex;
}

.ques-two {
  border-bottom: 1px solid #ccc;
  display: block;
  display: flex;
}

.ques-three {
  border-bottom: 1px solid #ccc;
  display: block;
  display: flex;
}

.ques-four {
  border-bottom: 1px solid #ccc;
  display: block;
  display: flex;
}

.ques-after {
  border-bottom: 1px solid #ccc;
  display: block;
  display: flex;
}

.ques {
  margin-top: 20px;
  margin-bottom: 20px;
}

.down {
  height: 20px;
  width: 20px;
  margin-left: 750px;
  margin-top: 20px;
  color: #7e8dca;
}

.third-body {
  display: flex;
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  margin-left: 700px;
}

.third-body-one {
  width: 120px;
}

.third-body-two {
  width: 135px;
}

.third-body-three {
  width: 135px;
}

.third-btn {
  border: none;
}

.third-point-one-body {
  height: 1px;
  background: #ccc;
  margin-top: 10px;
  margin-left: 650px;
  margin-right: 800px;
}

.third-btn:hover {
  color: orangered;
  border-width: 5px;
}
